* {
  margin: 0;
  padding: 0; }

body {
  width: 100%; }

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  header .logo {
    display: block;
    padding: 1em; }
    header .logo img {
      display: flex;
      padding: 0;
      margin: auto; }
  header .menu {
    padding: 1em; }
    header .menu ul {
      display: none;
      position: absolute;
      margin-top: 1em;
      width: 100%;
      right: 0; }
      header .menu ul li {
        font-family: 'IBM Plex Mono', monospace;
        list-style: none;
        height: 10vw;
        line-height: 10vw;
        padding: 0.5em;
        background: #0000EC;
        margin-bottom: -0.5em; }
      header .menu ul a {
        color: white;
        text-decoration: none;
        display: block;
        width: 100%; }
    header .menu .btn-menu {
      display: inline-block; }
    header .menu .btn-close {
      display: none; }
    header .menu input[type=checkbox] {
      position: absolute;
      right: 1.5em;
      opacity: 0; }
    header .menu input[type=checkbox]:checked ~ ul {
      display: block; }
    header .menu input[type=checkbox]:checked ~ .btn-menu {
      display: none; }
    header .menu input[type=checkbox]:checked ~ .btn-close {
      display: inline-block; }

main section {
  padding: 1em;
  display: flex;
  flex-direction: column; }
main .hello h2 {
  margin-bottom: 0.5em;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 10vw;
  color: #060A24; }
  main .hello h2 .helloworld {
    display: block; }
  main .hello h2 .world {
    text-decoration: line-through; }
main .hello .pmobile {
  margin-bottom: 2em;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 4vw;
  color: #060A24;
  text-align: justify; }
main .hello .pdesktop {
  display: none; }
main .hello .conocemas {
  border: solid 1px;
  background-color: #00F3BB;
  padding: 1em;
  border: none;
  width: 90%;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;
  font-size: 5vw;
  color: #060A24;
  text-align: center;
  display: block;
  margin: auto; }
  main .hello .conocemas:hover {
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%); }
  main .hello .conocemas a:link, main .hello .conocemas a:visited, main .hello .conocemas a:hover, main .hello .conocemas a:active {
    text-decoration: none;
    color: black; }
main .episodios {
  position: relative;
  margin-top: 2em;
  padding: 0; }
  main .episodios .background {
    position: relative;
    width: 100%;
    height: 250vw;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    transform: skewY(175deg);
    z-index: -1; }
  main .episodios .episodiosmain {
    position: absolute;
    width: 100%;
    top: 2em;
    z-index: 1; }
    main .episodios .episodiosmain h2 {
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 8vw;
      font-weight: 400;
      color: white;
      padding: 0.5em 0em 0.5em 0.5em; }
    main .episodios .episodiosmain .iframes {
      display: flex;
      flex-direction: column;
      justify-content: center; }
    main .episodios .episodiosmain .spotify iframe {
      display: flex;
      margin: auto;
      border: none;
      width: 95%;
      height: 180px; }
main .dedondevenimos {
  padding: 0;
  margin-bottom: 2em;
  position: relative; }
  main .dedondevenimos .celphone {
    box-sizing: border-box;
    margin-top: -5em; }
    main .dedondevenimos .celphone img {
      width: 100vw;
      margin: auto; }
  main .dedondevenimos h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 8vw;
    font-weight: 400;
    padding-left: 0.5em; }
    main .dedondevenimos h2 .dedonde {
      display: block; }
  main .dedondevenimos p {
    padding: 0.5em 1em 1em 1em;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 4vw;
    color: #060A24;
    text-align: left; }
main .invitadasestelares {
  padding: 0;
  margin-bottom: 2em; }
  main .invitadasestelares h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 8vw;
    font-weight: 400;
    padding-left: 0.5em;
    margin-bottom: 0.5em; }
    main .invitadasestelares h2 .invitados {
      display: block; }
  main .invitadasestelares img {
    display: flex;
    padding: 0;
    margin: 0;
    width: 100vw;
    margin: auto; }
main .algunosdenuestrostemas {
  padding: 0;
  margin-bottom: 2em; }
  main .algunosdenuestrostemas h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 8vw;
    font-weight: 400;
    padding-left: 0.5em;
    margin-bottom: 0.5em; }
  main .algunosdenuestrostemas .nuestrostemas {
    display: block; }
  main .algunosdenuestrostemas .icon {
    padding: 2em; }
    main .algunosdenuestrostemas .icon img {
      display: flex;
      padding: 0;
      margin: auto; }
    main .algunosdenuestrostemas .icon h3 {
      margin-top: 1em;
      font-family: 'IBM Plex Sans', sans-serif;
      font-weight: 700;
      text-align: center; }
main .ultimasnovedades {
  position: relative;
  margin-top: 2em;
  padding: 0; }
  main .ultimasnovedades .background2 {
    position: relative;
    width: 100%;
    height: 100vw;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    transform: skewY(175deg);
    z-index: -1; }
  main .ultimasnovedades .main h2 {
    position: absolute;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    line-height: 130%;
    color: white;
    font-size: 10vw;
    text-align: center;
    left: 23%;
    top: 15%; }
    main .ultimasnovedades .main h2 .quereslas {
      display: block; }
    main .ultimasnovedades .main h2 .ultimas {
      display: block; }
  main .ultimasnovedades .escuchalosepisodios {
    position: absolute;
    border: solid 1px;
    background-color: #00F3BB;
    padding: 1em;
    width: 85%;
    border: none;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500;
    color: #060A24;
    font-size: 5vw;
    top: 13em;
    text-align: center;
    left: 0.5em;
    display: block;
    margin: auto; }
    main .ultimasnovedades .escuchalosepisodios:hover {
      background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%); }
    main .ultimasnovedades .escuchalosepisodios a:link, main .ultimasnovedades .escuchalosepisodios a:visited, main .ultimasnovedades .escuchalosepisodios a:hover, main .ultimasnovedades .escuchalosepisodios a:active {
      text-decoration: none;
      color: black; }

footer {
  position: absolute;
  margin-top: -2em;
  width: 100%;
  height: 8rem;
  background-color: white; }
  footer h2 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 4vw;
    font-weight: 400;
    text-align: center;
    padding: 2em; }
  footer .rrss {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 4em 0 4em; }
    footer .rrss a:link, footer .rrss a:visited, footer .rrss a:hover, footer .rrss a:active {
      text-decoration: none;
      color: black; }

@media screen and (min-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 4em; }
    header .logo {
      display: block;
      padding: 1.5em;
      margin-left: 4em; }
      header .logo img {
        display: flex;
        padding: 0;
        margin: auto;
        transform: scale(1.5); }
    header .menu {
      padding: 0;
      margin-right: 4em;
      display: flex;
      align-items: center; }
      header .menu ul {
        position: static;
        display: inline-block;
        margin: 0; }
        header .menu ul li {
          font-family: 'IBM Plex Mono', monospace;
          font-size: 1vw;
          display: inline-block;
          background-color: white;
          align-content: center;
          margin: 0 1em 0 1em; }
          header .menu ul li a {
            color: black;
            text-decoration: none;
            display: block;
            width: 100%; }
      header .menu a:hover {
        text-decoration: line-through;
        color: #00F3BB; }
      header .menu a:active {
        text-decoration: line-through;
        color: #8F060A24; }
      header .menu .btn-menu {
        display: none; }
      header .menu .btn-close {
        display: none; }

  main section {
    padding: 10em 10em 5em 10em;
    display: flex;
    flex-direction: column; }
  main .hello h2 {
    margin-bottom: 0.5em;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 3vw;
    color: #060A24; }
    main .hello h2 .helloworld {
      display: inline-block; }
    main .hello h2 .world {
      text-decoration: line-through; }
    main .hello h2 .dot {
      color: #0000FE; }
  main .hello .pdesktop {
    display: block;
    margin-bottom: 2em;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.5vw;
    color: #060A24;
    text-align: justify; }
  main .hello .pmobile {
    display: none; }
  main .hello .conocemas {
    border: solid 1px;
    background-color: #00F3BB;
    padding: 0.5em;
    border: none;
    width: 20%;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.5vw;
    color: #060A24;
    text-align: center;
    display: block;
    margin: 0;
    height: 50%; }
    main .hello .conocemas:hover {
      background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%); }
  main .episodios {
    position: relative;
    margin-top: 2em;
    padding: 0; }
    main .episodios .background {
      position: relative;
      width: 100%;
      height: 70vw;
      background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
      transform: skewY(175deg);
      z-index: -1; }
    main .episodios .episodiosmain {
      position: absolute;
      top: 2em;
      z-index: 1;
      padding: 0;
      margin: 0;
      box-sizing: content-box; }
      main .episodios .episodiosmain h2 {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 3vw;
        color: white;
        padding: 2em 0 1em 4em;
        margin: 0; }
      main .episodios .episodiosmain .iframes {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 3vw;
        width: 80%;
        margin: auto; }
      main .episodios .episodiosmain .spotify iframe {
        display: flex;
        margin: auto;
        border: none;
        width: 100%;
        height: 232px; }
  main .dedondevenimos {
    padding: 0 10vw 0 10vw;
    margin-bottom: 2em;
    position: relative;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center; }
    main .dedondevenimos .celphone {
      box-sizing: border-box;
      margin-top: -5em;
      padding-right: 6em; }
      main .dedondevenimos .celphone img {
        width: 29vw;
        margin: auto; }
    main .dedondevenimos h2 {
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 3vw;
      padding-left: 0.5em;
      align-self: center; }
      main .dedondevenimos h2 .dedonde {
        display: inline-block; }
    main .dedondevenimos p {
      padding: 0.5em 3em 1em 1em;
      font-family: 'IBM Plex Mono', monospace;
      font-size: 1.5vw;
      color: #060A24;
      text-align: left;
      align-self: center; }
  main .invitadasestelares {
    padding: 0;
    margin-bottom: 2em; }
    main .invitadasestelares h2 {
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 3vw;
      padding-left: 4em;
      margin-bottom: 0.5em; }
      main .invitadasestelares h2 .invitados {
        display: inline-block; }
    main .invitadasestelares .imgs {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 0;
      width: 100%; }
    main .invitadasestelares img {
      display: flex;
      padding: 0;
      margin: 0;
      width: 100%; }
  main .algunosdenuestrostemas {
    padding: 0;
    margin-bottom: 0em; }
    main .algunosdenuestrostemas h2 {
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 3vw;
      padding-left: 4em;
      margin-bottom: 0.5em; }
    main .algunosdenuestrostemas .nuestrostemas {
      display: inline-block; }
    main .algunosdenuestrostemas .icons {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 4em; }
    main .algunosdenuestrostemas .icon {
      margin: 0;
      padding: 0; }
      main .algunosdenuestrostemas .icon img {
        display: flex;
        padding: 0;
        margin: auto; }
      main .algunosdenuestrostemas .icon h3 {
        margin-top: 1em;
        font-family: 'IBM Plex Sans', sans-serif;
        text-align: center; }
  main .ultimasnovedades {
    position: relative;
    margin-top: 0em;
    padding: 0; }
    main .ultimasnovedades .background2 {
      position: relative;
      width: 100%;
      height: 35vw;
      background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
      transform: skewY(0deg);
      clip-path: polygon(0 30%, 100% 0%, 100% 100%, 0% 100%);
      z-index: -1; }
    main .ultimasnovedades .main h2 {
      position: absolute;
      font-family: 'IBM Plex Sans', sans-serif;
      color: white;
      font-size: 3vw;
      text-align: center;
      left: 28%;
      top: 40%; }
      main .ultimasnovedades .main h2 .quereslas {
        display: inline-block; }
      main .ultimasnovedades .main h2 .ultimas {
        display: inline-block; }
    main .ultimasnovedades .escuchalosepisodios {
      border: solid 1px;
      position: absolute;
      background-color: #00F3BB;
      padding: 0.5em;
      width: 25%;
      border: none;
      font-family: 'IBM Plex Mono', monospace;
      color: #060A24;
      font-size: 1.5vw;
      top: 60%;
      left: 37%; }
      main .ultimasnovedades .escuchalosepisodios:hover {
        background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%); }

  footer {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: -2em;
    width: 100%;
    height: 5rem;
    background-color: white; }
    footer h2 {
      font-family: 'IBM Plex Mono', monospace;
      font-size: 1vw;
      padding: 2em 2em 2em 6em; }
    footer .rrss {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 0 6em 0 4em; }
      footer .rrss .rrsslogo {
        padding: 1em; }
      footer .rrss a:link, footer .rrss a:visited, footer .rrss a:hover, footer .rrss a:active {
        text-decoration: none;
        color: black; } }

/*# sourceMappingURL=style.css.map */
